*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.container{
    color: white;
    border-radius: 10px;
    border: 1px solid #b5b5b534;
    box-shadow: 0 0 5px #717171;
}



.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #717171;
    margin-bottom: 10px;
}

h2{
    margin: 10px;
    font-size: 25px;
}

p{
    font-style: italic;
    margin-bottom: 5px;
    opacity: 0.9;
}


.container #addTodo{
    color: white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    transition: all 0.3s;
}
.container #addTodo:hover{
    box-shadow: 0 0 10px yellowgreen;
    border-color: yellowgreen;
    background-color: yellowgreen;
}

.container #todoInput{
    outline: none;
    margin: 0 5px;
    border: 2px solid rgb(216, 216, 216);
    padding: 0 2px;
    font-size: 17px;
    border-radius: 5px;
    height: 28px;
    transition: all 0.3s;
}
.container #todoInput:focus{
    border: 2px solid #00e5ff;
    box-shadow: 0 0 5px #00e5ff;
}

#inputContainer{
    display: flex;
    align-items: center;
    margin: 2px 10px;
}

.container ul {
    height: 300px;
    margin: 10px 0;
    flex-direction: column;
    max-height: 300px;
    max-width: 300px;
    overflow-x: auto;
    overflow-y: auto;
    list-style-type: none;
}
li{
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    background-color: #ffffff13;
    border-radius: 5px;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
    margin: 10px 4px;
    color: #fff;
}

span{
     color: #000f;;
}

.done {
        text-decoration: line-through;
        opacity: 0.6
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: blue; /* changes check color */
  cursor: pointer;
}

.removeBtn{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    height: 25px;
    width: 25px;
}

span{
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
}